.col-id {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}
.col-acoes {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}

td {
  &:first-of-type {
    border-left: none;
  }
  &:last-of-type {
    border-right: none;
  }
  border-left: 1px solid black;
  border-top: none;
  border-bottom: none;
}

th {
  &:first-of-type {
    border-left: none;
  }
  &:last-of-type {
    border-right: none;
  }
  border-left: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-bottom: 1px solid black;
}
